body{
    background-color:#E6E6E6;
}

#greeting{
    float:top;
    text-align:center;
    border-radius: 5px;
    border: 5px solid #31B404;
    background-color: #31B404;
    display:inline-block;
}

#main heading{
    float: right;
}

#values {
    float: left;
}

#chart1 {
    float: right;
}

#values_title{
    text-align:center;
}

#message{
    clear:both;
    text-align:center;
}